.container{
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main{
    min-width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    /*background-color: red;*/
}
.board-row{
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.turn{
    margin-top: 10px;
    font-width: 600!important;
    color: #f57c00;
}
@media screen and (max-width: 1000px) {
    .board{
        width: 100%;
    }
}
